.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Світлий фон */
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: block;
  width: 80vw;
  max-width: 700px;
  max-height: 90vh; /* Максимальна висота модалки */
  background-color: #f9f9f9; /* Світлий фон */
  border-radius: 12px; /* Закруглені кути */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modal-content {
  padding: 20px;
  position: relative;
  text-align: center;
  color: #333; /* Темний текст */
  max-height: 100%;
  overflow-y: auto; /* Додає вертикальний скролінг */
}

.modal-body {
  padding: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Темний колір для хрестика */
}

button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.iframe-container {
  margin-top: 20px;
}

iframe {
  max-width: 100%;
  height: 300px;
  border: 0;
}
