<mat-toolbar color="primary">
  <span>My App</span>
  <span class="spacer"></span>

  <button mat-button *ngIf="isAdmin()" routerLink="/countries">Countries</button>
  <button mat-button routerLink="/weather">Weather</button>
  <button mat-button routerLink="/flags">Flags</button>
  <button mat-button routerLink="/maps">Maps</button>

  <span class="spacer"></span>

  <span *ngIf="user">{{ user.email }}</span>

 <button mat-button (click)="onAuthAction()">
    {{ isAuthenticated() ? 'Logout' : 'Login' }}
</button>
</mat-toolbar>
