<hr>

<div class="row">
  <div class="col">
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por capital"></shared-search-box>
  </div>
</div>
<hr>

<shared-loading-spiner *ngIf="isLoading"></shared-loading-spiner>

<div *ngIf="selectedCountry" class="row mb-3">
  <div class="col">
    <h2>Pais: {{ selectedCountry.name.common }}</h2>
    <h3>Capital: {{ selectedCountry.capital[0] }}</h3>
    <button class="btn btn-outline-primary" (click)="goToCountry()">Ver en mapa</button>
  </div>
</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <counries-table [countries]="countries"></counries-table>
  </div>
</div>

<div id="map" style="height: 500px;"></div>
